body{
	background: #4285F4;
	padding: 3%;
}

header{
	text-align: center;
	line-height: 5em;
	font-size: 1em;
}
#atlas-container{
	background: url("./atlas.jpg") no-repeat;
	height: 100%;
	background-size: 100% 100%;

}

.browser-icons-container{
	margin-top: 175px;
	height:15%;
	width: 100%;
}

.browser-icon{

	text-align:center;
	width: 20%;
	/*height: 16%; width: 9%; margin: 175px 2.8% 0%;*/
	float: left;
	
}
span{
	display: inline-block;
	border-radius: 25%;
}

img{
	height: 100%;
	width: 86%;
}


