body{
	background: #4285F4;
	padding: 3%;
}

#atlas-container{
	background: url("./atlas.jpg") no-repeat;
	height: 100%;
	background-size: 100% 110%;

}

#browser-icons-container{
	height: 30%;
	width: 50%;
}

.browser-icon{
	height: 15%;
	width: 10%;
	margin: 320px 2% 0%;
	/* background-size: 110%; the background size is not working */
	float: left;
	
}

#chrome{
	background: url("./chrome.png") no-repeat;
	margin-left: 20%;
}

#firefox{
	background: url("./firefox.png") no-repeat;
}

#safari{
	background: url("./safari.png") no-repeat;
}

#explorer{
	background: url("./explorer.png") no-repeat;
}

#opera{
	background: url("./safari.png") no-repeat;
}

