body
{
	font-family : 'Open Sans',sans-serif;
	margin-left :  20%; 
	margin-right:  20%;
	text-align: left ;
}

header 
{
	margin: 0px;
	font: normal ;
	font-size:	33px ;
	line-height: 55px;
}


header p{
	font-size: 17px;
	line-height: 40px;
	padding-bottom: 0px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

#first_lines
{
	font-weight: 500 ;
	font-size: 20px ;
	word-spacing: 0.5em;
	line-height: 25px;
	opacity: 0.8;

}

#quote1
{
	//margin-left: -20px ;
	padding-left: 0px ;
	word-spacing: 0.2em;
	font-size: 15px;
	font-weight:  200;
	border-left-style: solid;
	border-width: 4px;
	line-height: 20px;

}




#quote1 blockquote
{
	margin :30px 0px 30px 0px;
	padding-left: 20px;
	opacity: 0.7;

}

#second_lines
{
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	opacity: 0.7;
}

