body{
  margin: 0px;
  background-color: white;
  font-family : 'Open Sans',sans-serif;
}

div{
	background-color: #283446; 
	height: 42px;
  /*text-decoration: none;
   * This has no effect on inner text as of now .WHy ?*/
}

div a{
  text-decoration: none;
  color: white;
}

#logo{

	float: left;
	padding:12px 33px 12px 20px;
}

#logo span{
  text-transform: capitalize;
}

.navigation{
	float: right;
	padding: 12px 2.5%;
}

div :hover{
	background-color: white	;
  color: black;
}
a{
  text-decoration:  none;
  color: black;
}

.sidebar ul{
  border-bottom: solid 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  list-style-type: none;
  width: 13%;
  height: 88%;
  background-color: #DFE7D4;
  position: absolute;
  left: 0px;
  top: 42px;
  bottom: 51px ;

}  
.sidebar span{
  text-align: right;
  float: right;
}

.sidebar li{
  height: 25px;
  border-width: 0.4px 0 0 0;
  border-style: solid;
  border-color: black;
  padding:4px 35px 4px 20px;
  text-decoration: none;
  color:  black;
}

.sidebar li:first-child{
  border-top-width: 0px; 
}

.sidebar li:last-child{
  border-bottom-width: 0.4px; 
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    background-color: #283446;
}


