
h2{
  margin-top: 23px;
  margin-bottom: 0;
}

div#outer
{
  text-align: center;
  height: 400px;
  width: 1000px;
  background: #A5A5A5;
  padding:0 50px 50px 50px ;
  border: solid 2px #FFA500 ;
} 

div#inner
{
  height: 300px;
  width: 900px;
  padding: 0 50px 50px 50px ;
  border-style: dashed ;
  border-color: blue;
  border-width: 2px;
  background :white;
} 

div#core
{
  height: 200px;
  width: 800px;
 // min-height: 30%;
  padding:0 50px 50px 50px ;
  background: #D5D5D5;
  border: dotted #008000 2px;
  border-radius: 5px;
  /*min-width:  200px;*/
/*How can we add the min width along with padding in 
* outer or the present tag to make it responsive ? */
 
}  


